h1 {
  padding: 4px 10px;
  font-size: 22px;
  // position: absolute;
  // top: 0;
  // left: 0;
}
.wrapper {
  padding: 0 10px 10px 10px;
  // min-width: 800px;
  overflow: auto;
}
.ant-tabs-nav-list .ant-tabs-tab-btn {
  font-size: 18px;
}
.legend {
  width: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  user-select: none;
  .item{
    margin: 10px 10px;
    line-height: 20px;
    white-space: nowrap;
  }
  b{
    display: inline-block;
    width: 24px;
    height: 14px;
    border-radius: 4px;
    vertical-align: middle;
    margin-right: 4px;
  }
  span{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #333;
  }
}
.circles {
  display: flex;
  justify-content: center;
  align-items: center;
  > * {
    margin: 0 1vw;
  }
}
.bottom {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  // height: 30vh;
  >*{
    width: 49.5%;
  }
}
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.information {
  padding: 10px 20px;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  overflow: auto;
  height: calc(330px + 39px);
  .item {
    margin: 10px 0;
  }
  .codes {
    flex-wrap: wrap;
    p {
      // min-width: 100px;
      // width: 300px;
      margin-right: 20px;
      height: 30px;
      line-height: 30px;
      white-space: nowrap;
    }
    p:last-child {
      margin-right: 0;
    }
    input {
      width: 200px;
      border: none;
      outline: none;
      border-radius: 10px;
      height: 20px;
      background-color: #eee;
      text-align: center;
      color: #333;
    }
  }
  p {
    // margin: 10px 0;
  }
  span {
    margin-right: 20px;
    display: inline-block;
  }
}

.preview-image {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  .btn-close {
    position: absolute;
    right: 20px;
    top: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }
}
.swiper {
  margin: auto;
  .swiper-button-prev {
    left: 10vw;
  }
  .swiper-button-next {
    right: 10vw;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: auto;
    height: auto;
    color: #fff;
    text-shadow: 0 0 5px #000;
    padding: 4px 10px;
  }
  .swiper-pagination {
    color: #fff;
    text-shadow: 0 0 5px #000;
  }
}

.preview-item {
  margin: auto;
  color: #fff;
  text-align: center;
  .detail {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .img-box {
    height: 80vh;
    display: flex;
    > * {
      margin: auto;
    }
  }
  img {
    max-height: 100%;
    max-width: 100%;
    user-select: none;
    object-fit: cover;
  }
}
