.search-wrapper{
  max-width: 300px;
  min-width: 250px;
  flex: 1;
  flex-shrink: 0;
}
.messages{
  margin: 10px 0 0;
  padding: 10px;
  height: 300px;
  overflow: auto;
  font-size: 14px;
  line-height: 1.8;
}
